@import "./reset.scss";

body {
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
}

@import "./intro_section/background.scss";
@import "./intro_section/skip_btn.scss";
@import "./intro_section/beginner_page.scss";

.intro_text {
  width: 30%;
  position: relative;
  left: 55%;
  top: 10%;

  h1 {
    font-family: "Cabin Sketch", cursive;
    font-size: 2.5rem;
    color: black;
    font-weight: 700;
  }
}

.shape_for_text {
  position: relative;
  width: 40%;
  left: 70%;
  transition: 4s;
  transform: scale(0);

  animation-name: apearBtn;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  button {
    background-color: transparent;
    position: relative;
    border: 0;
    font-family: "Cabin Sketch", cursive;
    font-size: 3rem;
    top: 20%;
    outline: none;

    &:active {
      transform: scale(0.9);
      border-color: none;
    }
  }
}

.beginner_btn,
.intermediate_btn {
  &:hover {
    animation: hover 1s 1 forwards;
  }
}

@keyframes hover {
  0% {
  }
  100% {
    font-size: 3.3rem;
  }
}

@keyframes apearBtn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.intro_btn_position {
  position: relative;
  top: 15%;
  left: 10%;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.beginner-page {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: red;
}

@keyframes textApear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

.intermediate_view {
  position: relative;
  height: 100vh;
  .skip_btn {
    top: -10%;
    left: 80%;
  }

  .images_intermediate {
    display: flex;
    justify-content: space-around;
  }
}

.freeride_image {
  position: relative;
  left: -200%;
  height: 100vh;
  width: 50%;
  background-image: url("../images/5ddec81982253.jpg");
  background-position: right;
  background-size: cover;
  border-right: 10px solid white;
  -webkit-animation-name: freerideImg;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  p {
    position: absolute;
    top: 70%;
    left: 25%;
    color: white;
    font-size: 1rem;
  }

  .freeride_link {
    text-decoration: none;
    color: white;
    padding: 20px;
    border: 3px solid white;
    font-size: 2rem;
    position: absolute;
    top: 55%;
    left: 35%;
    &:active {
      transform: scale(0.95);
    }
  }
}

.freestyle_image {
  position: relative;
  right: 100%;
  height: 100vh;
  background-image: url("../images/5ddeecd54f093.png");
  background-position-x: 70%;
  background-size: cover;
  width: 50%;
  border-left: 10px solid white;

  animation-name: freestyleImg;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  p {
    position: absolute;
    top: 70%;
    left: 30%;
    color: #1459b3;
    font-size: 1rem;
  }
  .freestyle_link {
    text-decoration: none;
    color: #1459b3;

    padding: 20px;
    border: 3px solid #1459b3;
    font-size: 2rem;
    position: absolute;
    top: 55%;
    left: 35%;
    &:active {
      transform: scale(0.98);
    }
  }
}

@keyframes freerideImg {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes freestyleImg {
  0% {
    right: -100%;
  }
  100% {
    left: 0;
  }
}

.goTo {
  position: absolute;
  top: 50%;
  left: 98%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #1459b3;

  &.freerideToFreestyle {
    top: 48%;
    border: 2px solid white;
  }
  &.freerideToShop {
    top: 50%;
    border: 2px solid white;
  }
  &.freerideToBeginner {
    top: 52%;
    border: 2px solid white;
  }
  &.freestyleToFreeride {
    top: 48%;
    border: 2px solid #1459b3;
  }
  &.freestyleToShop {
    top: 50%;
    border: 2px solid #1459b3;
  }
  &.freestyleToBeginner {
    top: 52%;
    border: 2px solid #1459b3;
  }
  .link_goto {
    left: -100px;
    position: absolute;
    color: #1459b3;
    text-decoration: none;
    top: -10px;

    animation-name: textApear;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &.link_toBeginner {
      color: white;
      top: 0;
      left: -99px;
    }
    &.link_toShop {
      color: white;
      top: -2px;
      left: -75px;
    }
    &.link_toFreestyle {
      color: white;
      top: -10;
      left: -65px;
    }
    &.fromFreestyle{
  color: #1459b3
}
  }
}


//SHOP
.entering_stripe {
  height: 10%;
  width: 100vw;
  background-image: url("../images/5ddf955a12f87.png");
  background-size: contain;
  i {
    font-size: 2rem;
    position: absolute;
    right: 2%;
    top: 2%;
  }
}

.navigation {
  width: 15%;
  height: 100vh;
  background-color: #8397b1;
  li {
    padding: 20px 0 0 10px;
  }
  .navigation_options {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
}

.shop_background {
  background-color: #d6e0ee;
  width: 85%;
  display: flex;
  justify-content: space-around;
}
.shop_position {
  display: flex;
  justify-content: space-between;
}
.product {
  margin: 20px 0 20px 0;
  height: 40%;
  //tutaj jak zmienie ze nie ma ma wysokosci to leci na sam dół
  border: 2px solid black;
  h2 {
    font-size: 1rem;
    padding: 15px;
  }
  .product_image {
    background-image: url("../images/5ddfa112e7003.png");
    height: 240px;
    width: 38%;
    background-size: contain;
    position: relative;
    left: 30%;
  }
  .price {
    font-size: 1rem;
    padding: 20px;
    text-align: center;
  }
  .btn {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    left: 35%;
  }
}
