@import "./reset.scss";

body {
  font-family: "Permanent Marker", cursive;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
}

@import "./intro_section/background.scss";
@import "./intro_section/skip_btn.scss";
@import "./intro_section/beginner_page.scss";




.beginner-page {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: red;
}

@keyframes textApear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

.intermediate_view {
  position: relative;
  height: 100vh;
  .skip_btn {
    top: -10%;
    left: 80%;
  }

  .images_intermediate {
    display: flex;
    justify-content: space-around;
  }
}

.freeride_image {
  position: relative;
  left: -100%;
  height: 100vh;
  width: 50%;
  background-image: url("../images/5ddec81982253.jpg");
  background-position: right;
  background-size: cover;
  border-right: 10px solid white;
 animation-name: freerideImg;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  p {
    position: absolute;
    top: 70%;
    left: 25%;
    color: white;
    font-size: 1rem;
  }

  .freeride_link {
    text-decoration: none;
    color: white;
    padding: 20px;
    border: 3px solid white;
    font-size: 2rem;
    position: absolute;
    top: 55%;
    left: 35%;
    &:active {
      transform: scale(0.95);
    }
  }
}

.freestyle_image {
  position: relative;
  right: 100%;
  height: 100vh;
  background-image: url("../images/5ddeecd54f093.png");
  background-position-x: 70%;
  background-size: cover;
  width: 50%;
  border-left: 10px solid white;

  animation-name: freestyleImg;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  p {
    position: absolute;
    top: 70%;
    left: 30%;
    color: black;
    font-size: 1rem;
  }
  .freestyle_link {
    text-decoration: none;
    color: black;

    padding: 20px;
    border: 3px solid black;
    font-size: 2rem;
    position: absolute;
    top: 55%;
    left: 35%;
    &:active {
      transform: scale(0.98);
    }
  }
}

@keyframes freerideImg {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes freestyleImg {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

.goTo {
  position: absolute;
  top: 50%;
  left: 97%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid black;

  &.freerideToFreestyle {
    top: 48%;
    border: 2px solid white;
  }
  &.freerideToShop {
    top: 50%;
    border: 2px solid white;
  }
  &.freerideToBeginner {
    top: 52%;
    border: 2px solid white;
  }
  &.freestyleToFreeride {
    top: 48%;
    border: 2px solid black;
  }
  &.freestyleToShop {
    top: 50%;
    border: 2px solid black;
  }
  &.freestyleToBeginner {
    top: 52%;
    border: 2px solid black;
  }
  .link_goto {
    left: -100px;
    position: absolute;
    color: black;
    text-decoration: none;
    top: -10px;

    animation-name: textApear;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &.link_toBeginner {
      color: white;
      top: 0;
      left: -99px;
    }
    &.link_toShop {
      color: white;
      top: -2px;
      left: -71px;
    }
    &.link_toFreestyle {
      color: white;
      top: -10;
      left: -65px;
    }
    &.fromFreestyle{
  color: black;

}
  }
}


//SHOP
.shopView{
height: 100vh;
width: 100%;
}
.entering_stripe {
  height: 10%;
  width: 100vw;
  background-color: white;
  background-size: contain;
  i {
    font-size: 2rem;
    position: absolute;
    right: 2%;
    top: 2%;
  }
}

.navigation {
  width: 15%;
  height: 100vh;
  background-color: #8397b1;
  li {
    padding: 20px 0 0 10px;
  }
  .navigation_options {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }
}

.shop_background {
  background-color: #d6e0ee;
  width: 85%;
  display: flex;
  justify-content: space-around; 
  align-items: flex-start;
  
}
.shop_position {
  display: flex;
  justify-content: space-between;
 
}
.product {
  margin: 20px 0 20px 0;
  width: 30%;
  //tutaj jak zmienie ze nie ma ma wysokosci to leci na sam dół
  border: 2px solid black;
  h2 {
    font-size: 1rem;
    padding: 15px;
    text-align: center;
  }
  .product_image {
    
    height: 240px;
    width: 60%;
    border: none;
    position: relative;
    left: 15%;

  
    
  }
  .price {
    font-size: 1rem;
    padding: 20px;
    text-align: center;
  }
  .btn_shop {
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    position: relative;
    left: 40%;
    display: inline-block;
  
    &:hover{
      color: #8397b1;
      border-color: #8397b1;
    }
    &:active{
      transform: scale(0.95);
      
  }
  }
}
.item_in_basket{
display: flex;
align-items: center;
justify-content: space-around;
border: 2px solid black;
margin: 10px;

  .item_img_in_basket{
    height: 100px;
    widows: 100px;
    &:hover{
      transform: scale(2);
    }
  
}
  .item_name_in_basket{
font-size: 1rem;

}
.item_price_in_basket{
  font-size: 1rem;
}
.btn_delete{
	display: block;
	position: relative;
	padding: 1em 2em;
	appearance: none;
	border: 0;
	background: white;
	color: black;
	text-transform: uppercase;
	
	outline: none;

	font-weight: bold;
	border-radius: 0;
    box-shadow: inset 0 0 0 2px currentcolor;
  transition: background-color .8s ease;
  
  &:hover{
    background: #b3c6df;
  }
  &:active{
    transform: scale(0.95)
  }
}
}
