.firstView{
    height: 100vh;
  
    .goToIntermediate{
      position: absolute;
      top:50%;
      left:98%;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 2px solid black;
     
      .link_intermediate{
      left: -90px;
      position: absolute;
      color: black;
      text-decoration: none;
      top: -10px;
      
      
      animation-name: textApear;
      animation-duration: 0.8s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      }
    }
  }

.beginner-page {
  display: none;
  height: 100vh;
  width: 100%;
  background-color: red;
}

@keyframes textApear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
  
  //dasharray dashoffset , stroke 
  .slide{
    background: black;
    position: absolute;
    color: white;
    height: 100vh;
    width: 0;
    background-image: linear-gradient(to right top, #f3f0f8, #e7e1f2, #dcd2ec, #d0c3e6, #c5b4e0, #b8a6d3, #ac98c5, #a08bb8, #8f7ba1, #7e6c8a, #6d5d75, #5c4f60);
    animation-name: slide;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    &.freestyle_slide{
        background-image: linear-gradient(to right top, #ccdbde, #a8cad2, #83bac8, #58a9be, #0f98b5);
    }
    &.freeride_slide{
left: 50%;
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);    }
   animation-name: slide;
   animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  .snowboard_gif{
    width:400px;
    position: absolute;
    height:51%;
    left: 60%;
    top:20%;
    margin:0 auto;
    background-image:url("../images/5dde49c4d887b.png");
    background-size: cover;
    
   
      animation-name: rotate3D;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    &.freeride_gif{
        width: 410px;
        height: 36%;
        top:30%;
        left:10%;
        background-image:url("../images/5ddefc043408c.png");
    
          
    }
    &.freestyle_gif{
        background-image:url("../images/5ddf09b868b1f.png");
        height:63%;
    
    top:14%;
    }
    
  }
  
  
  @keyframes rotate3D
  {
    0% { transform:perspective(700px) rotateY(0) translateZ(0); }
    50%{transform:perspective(700px) rotateY(20deg) translateZ(150px); }
    
    100% {transform:perspective(700px) rotateY(-20deg) translateZ(150px);  }
  }

  
    .link{
      color: black;
      text-decoration: none;
      
    }
  
    .beginner-text{
      height: 60%;
      padding: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: 'VT323', monospace;
      position: relative;
    //   transform: scale(0);
     
    //    animation-name: textApear;
    // animation-duration: 1s;
    // animation-delay: 1s;
    // animation-iteration-count: 1;
    // animation-fill-mode: forwards;
      h1{
          position: absolute;
          text-align: center;
          font-size: 4rem;
          top:10%;
          
      }
  
      p{
        font-size: 1.5rem;
        padding: 10% 0 0 0;
        span{
          font-weight: 600;
          font-size: 2rem;
          letter-spacing: 4px;
        }
      }
    }