
.skip_btn {
	
	--offset: 10px;
	--border-size: 2px;
    top: 90%;
    left: 80%;
	display: block;
	position: relative;
	padding: 1.5em 3em;
	appearance: none;
	border: 0;
	background: white;
	color: #1459b3;
	text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;

	font-weight: bold;
	border-radius: 0;
    box-shadow: inset 0 0 0 2px currentcolor;
	transition: background-color .8s ease;
	.link{
        padding: 15px;
        color:#1459b3
    }
	&:hover {
		background: rgba(81, 231, 43, 0.03);
    }
    &:active{
        transform: scale(0.95);
        
    }
	
	&_horizontal,
	&_vertical {
		position: absolute;
        top: var(--horizontal-offset, 0);
		right: var(--vertical-offset, 0);
		bottom: var(--horizontal-offset, 0);
		left: var(--vertical-offset, 0);
		transition: transform .8s ease;
		will-change: transform;
		
		&::before {
			content: '';
			position: absolute;
			border: inherit;
		}
	}
	
	&_horizontal {
		--vertical-offset: calc(var(--offset) * -1);
		border-top: 2px solid currentcolor;
		border-bottom: 2px solid currentcolor;
		
		&::before {
			top: calc(var(--vertical-offset) - 2px);
			bottom: calc(var(--vertical-offset) - 2px);
			left: calc(var(--vertical-offset) * -1);
			right: calc(var(--vertical-offset) * -1);
		}
	}
	
	&:hover &_horizontal {
		transform: scaleX(0)
	}
	
	&_vertical {
		--horizontal-offset: calc(var(--offset) * -1);
		border-left: 2px solid currentcolor;
		border-right: 2px solid currentcolor;
		
		&::before {
			top: calc(var(--horizontal-offset) * -1);
			bottom: calc(var(--horizontal-offset) * -1);
			left: calc(var(--horizontal-offset) - 2px);
			right: calc(var(--horizontal-offset) - 2px);
		}
	}
	
	&:hover &_vertical {
		transform: scaleY(0);
	}
	
}
