.carousel-container{
    height: 60%;
    width: 100%;
padding-bottom: 100px;
    box-sizing: border-box;
    // margin: 20px;
    li{
        left: 4%;
    }
    

//      div{
// width: 33%;
// padding: 20px;
// height: 100%;
// box-sizing: border-box;
// background-size: cover;
//      }  
//      .white-blinding{
//          background-image: url("../images/PngJoy_lasso-snowboard-boots-transparent-png_11193978.png");
//          background-size: cover;
//     }
 

}
.product{
    height: 50vh;
    // width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    align-items: center;
    h2{
      font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;   
    }
   
  .product_img{
    height: 70%;
    width: 70%;
    background-size: contain;
    padding: 50px;
    background-repeat: no-repeat;
    background-position-x: center;
}  
 button{
     background:transparent;
     text-decoration: none;
      color: black;
      padding: 10px 30px;
      border: 2px solid #946544;
      font-size: 1.1rem;
      font-weight: 600;
      transition: 0.25s;
      color:  #413329;
        border-color:#946544 ;
        font-family: Arial, Helvetica, sans-serif;
        
   
     &:hover{
        box-shadow: 0 0.5em 0.5em -0.4em adjust-hue( black, 45deg);
        transform: translateY(-0.25em);
        color:  black;
        border-color:black;
      }
     }
     h3{
         padding: 10px;
         font-size: 1rem;
         font-family: Arial, Helvetica, sans-serif;
     }
 
}
