.snowboards_area {
  height: 100%;
  .products_area {
    display: flex;
    justify-content: space-around;
  }
  .snowboard_products {
    width: 80%;
    padding: 100px 0px;
    position: relative;
    left: 10%;

    h2 {
      text-align: center;
      font-size: 2rem;
      font-family: "Fredericka the Great", cursive;
    }
    .products_area {
      display: flex;
      flex-wrap: wrap;
      padding: 50px 0;
    }
    .one_product {
      width: 30%;
     
      margin: 20px 0;
      display: flex;
    flex-direction: column;
    align-items: center;
      h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.1rem;
      }
      p {
        font-size: 0.8rem;
        padding: 15px;
      }
      .product_img {
        height: 350px;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
      }
      .product_btn{
        background:transparent;
        text-decoration: none;
         color: black;
         padding: 20px 30px;
         border: 2px solid #946544;
         font-size: 1.1rem;
         font-weight: 600;
         transition: 0.25s;
         color:  #413329;
           border-color:#946544 ;
           font-family: Arial, Helvetica, sans-serif;
           
      
        &:hover{
           box-shadow: 0 0.5em 0.5em -0.4em adjust-hue( black, 45deg);
           transform: translateY(-0.25em);
           color:  black;
           border-color:black;
         }
        }
      }
    }
  }

