.caroussel_area{
    height: 60%;
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: space-around;

     div{
width: 33%;
padding: 20px;
height: 100%;
box-sizing: border-box;
background-size: cover;
     }
 

    
     
     .white-blinding{
         background-image: url("../images/PngJoy_lasso-snowboard-boots-transparent-png_11193978.png");
         background-size: cover;
    }
 

}