@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.shopView {
  height: 100vh;
  // width: 100%;
}
.shop_header {
  height: 10%;
  width: 100%;
  background-color: transparent;
  position: fixed;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  // border: 2px solid rgb(189, 181, 181);
  box-shadow: -5px -5px 22px -2px rgba(0, 0, 0, 0.75);
  z-index: 1;
  color: white;
  .container_nav{
    color: black;
    display: flex;
    align-items: center;
    div{
      padding: 0 0 0 10px;
      
      a{
        text-decoration: none;
      }
      h2{
     visibility: hidden;
     transform: translateY(75px);
  
    }
    }
    
  }

  .entering_stripe {
    position: relative;

    background-color: transparent;
    display: flex;
    justify-content: flex-end;

    i {
      font-size: 1rem;
      padding: 10px 20px;
      color: white;
    }
    .account::after {
      font-family: "Font Awesome 5 Free";
      content: "\f0dd";
      position: relative;
      padding: 5px;
      font-size: 1.4rem;
      font-weight: 900;
    }
  }
}
.change_back_color {
  background-color: white;
  .container_nav{
    
    div{
      
      h2{
    font-size: 1.5rem;
    font-family: 'Fredericka the Great', cursive;
    color: black;
    animation: showUp  1s 0s 1 ease forwards;
    visibility: visible;
    
 
   }
    }
  }
   
  @keyframes showUp{
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
  }
  .entering_stripe {
    i {
      color: black;
    }
  }
  .navigation{
    ul{
      li{
        a{
          color: black;
        }
      }
    }
  }
}

.navigation {
  display: flex;
  align-items: center;
  .snowboarder_img {
    background-image: url("../images/czemuuuuuuu.png");
    top: 4px;
    height: 89%;
    width: 56px;
    z-index: 2;
    background-position: center;
    background-size: cover;
    position: relative;
    left: 20px;
  }

  ul {
    display: flex;
    justify-content: center;
    padding: 0 50px 0 70px;
  }

  li {
    padding: 30px 20px;
    transition: 0.5s;
  }
  .navigation_options {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    
    
  }  @for $i from 1 through 3{
    li:nth-of-type(#{$i}){
     
        &:hover{
          box-shadow: 0em 0.5em 1em -0.8em adjust-hue( black, 45deg);
          transform: translateY(-0.25em);
}
    }
}
}

.shop_background {
  background-color: #d6e0ee;
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.shop_position {
  display: flex;
  justify-content: space-between;
}
.product {
  margin: 20px 0 20px 0;
  width: 30%;
  //tutaj jak zmienie ze nie ma ma wysokosci to leci na sam dół
  border: 2px solid black;

  .btn_shop {
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    position: relative;
    left: 40%;
    display: inline-block;

    &:hover {
      color: #8397b1;
      border-color: #8397b1;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
.item_in_basket {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  margin: 10px;

  .item_img_in_basket {
    height: 100px;
    widows: 100px;
    &:hover {
      transform: scale(2);
    }
  }
  .item_name_in_basket {
    font-size: 1rem;
  }
  .item_price_in_basket {
    font-size: 1rem;
  }
  .btn_delete {
    display: block;
    position: relative;
    padding: 1em 2em;
    appearance: none;
    border: 0;
    background: white;
    color: black;
    text-transform: uppercase;

    outline: none;

    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px currentcolor;
    transition: background-color 0.8s ease;

    &:hover {
      background: #b3c6df;
    }
    &:active {
      transform: scale(0.95);
    }
  }
  .product_counter{
    display: flex;
    border-bottom:1px solid black;
    padding: 10px;
    i{
      font-size: 1.1rem;
      
    }
    p{
      font-size: 1.1rem;
      padding: 0 10px;
    }
  }
}

.banner {
  height: 100%;
  width: 100%;
  background-image: url("../images/5e8f28609b8b3.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  h2{
    position: absolute;
    font-family: 'Fredericka the Great', cursive;
    font-size: 8em;
    color: white;
    font-weight: 400;
    top: 40%;
    left: 16%;
    
&:first-of-type{
  top: 26%;
    
}
  }
  .sale {
    height: 5%;
    width: 100%;
    background-color: rgb(50, 196, 171);
    opacity: 0.4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    top: 28%;
    h1 {
      animation: sale 4s linear infinite alternate-reverse;
      // transform: translateX(300%)
    }
  }
}
//Articles
.background_for_articles {
  box-sizing: border-box;

  .first_article {
    height: 60vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    .header_for_articles {
      height: 85%;
      width: 85%;
      background-color: rgb(6, 31, 116);
      text-align: center;
      position: relative;
      left: 15%;
      display: flex;
      align-items: center;
    }
    .img_desert {
      width: 50%;
      background-image: url("../images/5ec83cb33ae28.jpg");
      height: 100%;
      background-size: cover;
      position: relative;
      right: 10%;
    }
  }
  .second_article {
    height: 60vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    padding: 50px 0;

    .img_snowboard {
      background-image: url("../images/5ec83c99140e3.jpg");
      width: 49%;
      height: 100%;
      background-size: cover;
      position: relative;
      left: 10%;
    }
    .header_for_articles {
      height: 69%;
      width: 36%;
      background-color: #0f8b51;
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      z-index: -1;
      h2 {
        padding: 120px;
      }
    }
  }
  h2 {
    font-size: 1.6rem;
    color: white;
    position: relative;
    left: 12%;
    font-family: "Black Ops One", cursive;
    font-weight: 400;
  }
}

@keyframes sale {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
