.caroussel_area{
    height: 60%;
    width: 100%;
    
 .slick-slider{
    .slick-slide{
        // height: 300px;
    }
     height: 100%;
    //  .white-blinding{
        //  background-image: url("../images/PngJoy_lasso-snowboard-boots-transparent-png_11193978.png");
    //      background-size: cover;;
    // }
 }

}